.navbar {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex; /* Make it a horizontal flex container */
    justify-content: space-between; /* Distribute items evenly */
}

.navbar a {
    margin: 0 10px; /* Add space between links */
    text-decoration: none;
    color: black;
    font-weight: bold;
}

